
div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

th {
    border: 1px solid black;
    margin: 10px;

    border-collapse: separate;
    border-spacing: 0 1em;
}
.margin {
   margin:10px;
}
tr {
    margin: 10px;
    border-spacing: 0 1em;
}
td {

    border: 1px solid black;
    border-radius: 20px;
    background-color: lightGray;
    border-collapse: separate;
    border-spacing: 0 1em;
    margin: 10px 20px 5px 15px;
}
table {
    border-collapse: separate;
    border-spacing: 0 1em;
}
